---
import BaseLayout from '@layouts/BaseLayout.astro';
import BlogPost from '@components/BlogPost.astro';

import { getAllPosts, getFilteredPosts, getUniqueTags } from '../../utils.astro';

export async function getStaticPaths() {
  const allPosts = await getAllPosts();
  const uniqueTags = getUniqueTags(allPosts);
  return uniqueTags.map((tag) => {
    const filteredPosts = getFilteredPosts({posts: allPosts, tag});
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---
<BaseLayout pageTitle={tag}>
  <p>Posts tagged with {tag}</p>
  <ul>
    {posts.map((post) => post.url && <BlogPost url={post.url} title={post.frontmatter.title}/>)}
  </ul>
</BaseLayout>