---
import Social from './Social.astro'
---

<style>
  footer {
    display: flex;
    margin-top: 2rem;
  }
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
</style>

<footer>
  <p>Follow me on other platforms:</p>
  <ul>
    <li><Social platformUrl='github' username='hinname' platform='Github' /></li>
    <li><Social platformUrl='linkedin' username='in/herivelton-borges-da-costa-b724361a4/' platform='LinkedIn' /></li>
    <li><Social platformUrl='instagram' username='herivelton_costa1' platform='Instagram'></li>
  </ul>
</footer>
