---
interface Props {
    platform: string;
    username: string;
    platformUrl: string;
}
const { platformUrl, username, platform } = Astro.props;
---
<a class="py-2 px-4 text-white text-sm rounded bg-violet-600 hover:bg-violet-800" href={`https://www.${platformUrl}.com/${username}`}>{platform}</a>